[Desktop Entry]
Encoding=UTF-8
Version=0.1
Type=Application
Terminal=false
Exec=/usr/bin/qmlscene -I  /usr/local/share/saucybacon/saucybacon.qml
Icon=/usr/local/share/saucybacon/resources/icons/SaucyBacon.svg
Name=SaucyBacon
Comment=Keep track of your best moments with your hands
X-Ubuntu-StageHint=SideStage
X-Ubuntu-Gettext-Domain=saucybacon
X-Ubuntu-Touch=true
